@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300&display=swap');

.box{
    border: 1px solid  purple;
    margin-top: 30px;
    padding:10px;
   
}
.box-1{
    width: 100px;
    height: 50px;
    background-color: red;
    position: relative;
}
.box-2{
    width: 100px;
    height: 50px;
    background-color: rgb(7, 90, 48);
    
}
.box-3{
    width: 100px;
    height: 50px;
    background-color: rgb(255, 0, 140);
}
.banner-section{
    width: 100%;
    height: 100vh;
    background-image: url("./gambar-wallpaper-hijab-25.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    display: flex;
    color: aquamarine;
    font-weight: 700;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-family:  'Roboto', sans-serif;
    ;

}